
/* 
.
. --- Variables ---- 
.
*/
// Font
$font-stack: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-stack-two: Arial, sans-serif;

// Color
$navy: #01193a;
$white: #ffffff;
$feature-grey: #141414;
$feature-grey-font: #777;
$btn-red: #e50914;
$btn-red-hover: #E53935;