@import "./../../scss/variables";

// Main Navbar SCSS

nav {
    height: 90px;
    font-family: $font-stack;
    // Our Netflix logo
    img {
        width: 167px;
        height : 45px;
        vertical-align: middle;
    }
    .logo {
        display: inline-block;
        line-height: 90px;
        margin: 0 0 0 3%;
    }
}