/* Our Netflix logo */

nav img{
    width: 167px;
    height : 45px;
    vertical-align: middle;
}

nav a.logo {
    display: inline-block;
    line-height: 90px;
    margin: 0 0 0 3%;
}

nav {
    height: 90px;
}